header {
    background-color: #f8a8c1;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #4d0066;
}

section {
    margin: 20px;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    width: 60%;
    height: 30px;
    margin: 10px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}

